body{
    background: #000000;
}
input,div,p,span{
    font-size: 12px;
}

img{
    width: 70%;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
}
table td{
    width: 300px;
    padding: 10px;
    border: solid 1px #FFFFFF;
}
.game-screen{
    width: 800px;
    min-height: 500px;
    color: #FFFFFF;
    text-align: center;
    padding: 20;
    margin: 100px auto;
}

#title{
    width: 100%;
    text-align: center;
}

input ,button, .menu div{
    display: inline-block;
    width: 150px;
    background: #000000;
    padding:20px;
    margin: 10px;
    border: 1px double #FFFFFF;
    color: #FFFFFF;
    box-sizing: border-box;
}

input:hover , .menu div:hover{
    background: rgb(202, 202, 202);
    color: #000000;

}


.menu{
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.player-panel{
    vertical-align: middle;
    width: 70%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #FFFFFF; 
    box-sizing: border-box;
}

.popup{
    display: none;
    margin: 70px 70px;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 1);
    position: absolute;

}

.popup-2{
    display: none;
    height: 200px;
    width: 500px;
    line-height: 200px;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 1);
    position: absolute;

}


.status-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    padding:20px;
    box-sizing: border-box;
}

.click{
    width: 120px;
    background: #000000;
}

.magic-screen{
    position: relative;
}